.videoPlaceholder{
  height: 32.5rem;
  border-radius: 2rem;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.phoneWrapper {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 545px;
}

.phoneCase {
  position: absolute;
  height: 545px;
  width: 270px;
  object-fit: contain;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.1))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.08));
}

.phoneVideo {
  width: 60vw;
  object-fit: cover;
  border-radius: 2rem;
}

@media screen and (max-width: 840px) {
  .phoneWrapper {
    height: 485px;
  }
  .phoneCase {
    height: 485px;
    width: 260px;
  }
  .phoneVideo {
    width: 100vw;
  }

  .videoPlaceholder{
    height: 29rem;
  }
}

@media screen and (max-width: 640px) {
  .phoneVideo {
    padding: 4rem 2rem 2rem 4rem;
    width: 140vw;
  }

  .phoneWrapper {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 545px;
  }
}


@media screen and (max-width: 500px) {
  .phoneVideo {
    margin-top: -6rem;
    padding: 4rem 2rem 2rem 4rem;
    width: 140vw;
  }

  .phoneWrapper {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 545px;
  }
}