.bodyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .divLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    margin-left: 2%;
  }

  .divRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 3%;
  }

  .mantalogo {
    height: 40px;
    margin-top: -5px;
    margin-right: 5px;
  }

  .menuIconContainer {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
    background-color: pink;
  }

  .menuIcon {
    height: 50px;
    color: white;
    cursor: pointer;
    /* margin-right: 3%; */
  }

  .dropMenu {
    z-index: 5;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    top: 50;
    right: 50;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: transparent;
  }