.bodyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .divLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    margin-left: 2%;
  }

  .divRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 3%;
  }

  .mantalogo {
    height: 40px;
    margin-top: -5px;
    margin-right: 5px;
  }

  .menuIcon {
    height: 50px;
    color: white;
    margin-right: 3%;
  }

  .facebookLogo {
    height: 40px;
    color: white;
  }

  .instagramLogo {
    height: 40px;
    color: white;
  }

  .youtubeLogo {
    height: 55px;
    color: white;
  }

  .emailIcon {
    height: 45px;
    color: white;
  }
