.facebookIcon {
    height: 40px;
    color: white;
  }

  .instagramIcon {
    height: 40px;
    color: white;
  }

  .youtubeIcon {
    height: 40px;
    color: white;
  }

  .emailIcon {
    height: 40px;
    color: white;
    cursor: pointer;
  }