
.dropButton{
  right: 10
}

.dropMenu {
  z-index: 5;
  align-items: center;
  justify-content: space-between;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: transparent;
  padding: 5;
}

.menuIcon{
  color: white;
}

.menuIcon:hover{
  color: lightgray;
}
.facebookIcon {
  height: 50px;
  color: white;
}

.facebookIcon:hover {
  height: 50px;
  color: lightgray;
}

.instagramIcon {
  height: 50px;
  color: white;
}

.instagramIcon:hover {
  height: 50px;
  color: lightgray;
}

.youtubeIcon {
  height: 65px;
  color: white;
}

.youtubeIcon:hover {
  height: 65px;
  color: lightgray;
}

@media (orientation: portrait) {
  .youtubeIcon {
    height: 50px;
    color: white;
  }
  
  .youtubeIcon:hover {
    height: 50px;
    color: lightgray;
  }
}

.emailIcon {
  height: 50px;
  color: white;
  cursor: pointer;
}

.emailIcon:hover {
  height: 50px;
  color: lightgray;
  cursor: pointer;
}