body {
  /* overflow-x: hidden; */
  background-color: #0073E6;
}

.video-background {
  position: relative;
  width: 100%;
  height: 110%; /* Full screen height */
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover; /* Ensures the video covers the entire background */
  z-index: -1; /* Makes sure the video stays behind the content */
}

.body-background {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen height */
  overflow: hidden;
  background-color: white;
}

.container {
  display: grid;
  width: 100vw;
  grid-template-columns: 20% 20% 20% 20% 20%; 
  grid-template-rows: 4;
}

.boxHeader {
  z-index: 2;
  position: absolute;
  top: 0;
  height: 50px;
  width: 98vw;
  /* background-color: antiquewhite; */
}

.Row1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 100vh;
  margin-bottom: 2%;
}

.MobilePhone {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top:  -20%;
  /* margin-left: 8vw; */
}

.HeroScripts {
  z-index: 2;
  display: flex;
  justify-content: center;
  /* background-color: lightblue; */
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: -20%;
}

.Row2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
}

.SearchImages {
  /* height: 70vw; */
  z-index: 3;
  display: flex;
  justify-content: center;
  /* background-color: pink; */
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
}

.SearchScripts {
  /* height: 70vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
}


.Row3 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 3;
}

.ContributeImages {
  /* height: 70vw; */
  z-index: 3;
  display: flex;
  justify-content: center;
  /* background-color: pink; */
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 3;
  position: relative;
}

.ContributeScripts {
  /* height: 70vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  position: relative;
}

.Row4 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 4;
}

.BrandImages {
  /* height: 70vw; */
  z-index: 3;
  display: flex;
  justify-content: center;
  /* background-color: pink; */
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}

.BrandScripts {
  /* height: 70vw; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 4;
}


.boxFooter {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 5;
}


@media (orientation: portrait) {
  
  .video-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Full screen height */
    overflow: hidden;
  }
  
  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover; /* Ensures the video covers the entire background */
    z-index: -1; /* Makes sure the video stays behind the content */
  }

  .Row1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 99vh;
    margin-bottom: -5%;
  }
  
  .MobilePhone {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: -5vh;
    margin-left: 0;
  }
  
  .HeroScripts {
    display: flex;
    /* background-color: lightblue; */
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: -20%;
  }
  
  .Row2 {
    /* background-color: purple; */
    height: 106vh;
    padding-top: 0%;
    padding-bottom: 0%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .SearchImages {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .SearchScripts {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    z-index: 2;
  }

  .Row3 {
    height: 33vw;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .ContributeImages {
    /* height: 30vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
    margin-top: -20vh;
  }

  .ContributeScripts {
    /* height: 30vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-top: 0vh;
  }

  .Row4 {
    height: 65vw;
    padding-top: 0%;
    margin-bottom: 0%;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .Row5 {
    height: 80vw;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .Row6 {
    height: 40vw;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
  }
  
  .BrandImages {
    /* height: 0vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
  }

  .BrandScripts {
    /* height: 0vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
    z-index: 2;
  }

  .Row7 {
    height: 35vw;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
  }

  .Row8 {
    height: 70vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
  }

  .boxFooter {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 9;
  }
}

/* @media (max-width: 550px) {
  .SearchImages {
    transform: rotate(90deg);
  }

  .ContributeImages {
    height: 10vh;
    transform: rotate(90deg);
  }

  .Row4 {
    height: 100vh;
  }

  .Row6 {
    height: 80vh;
  }

  .BrandImages {
    transform: rotate(90deg);
  }


  .Row7 {
    height: 30vh;
  }

  .Row8 {
    height: 110vh;
  }

  .boxFooter {
    height: 50vh;
  }
}

 */


