body {
  /* overflow-x: hidden; */
}

.container {
  display: grid;
  width: 100vw;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 4;
}

.boxHeader {
  z-index: 2;
  position: absolute;
  top: 0;
  height: 50px;
  width: 100vw;
  /* background-color: antiquewhite; */
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box2 {
  display: flex;
  justify-content: center;
  /* background-color: orange; */
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: -8vh;
}

.box3 {
  z-index: 2;
  display: flex;
  justify-content: center;
  /* background-color: lightblue; */
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: -8vh;
}

.box4 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box5 {
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  /* background-color: pink; */
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box6 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box8 {
  z-index: 3;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: white;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: 0vh;
}

.box9 {
  z-index: 3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: 0vh;
}

.box10 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 4;
  grid-row-end: 4;
}

.box13 {
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  /* background-color: pink; */
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 4;
}

.box14 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 4;
}

.box17 {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 5;
}

@media (max-width: 880px) {
  
  .box1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: -10vh;
  }
  
  .box3 {
    display: flex;
    /* background-color: lightblue; */
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 0vh;
  }
  
  .box4 {
    /* background-color: purple; */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .box5 {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .box6 {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    z-index: 2;
  }

  .box7 {
    height: 35vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .box8 {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
    margin-top: -20vh;
  }

  .box9 {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-top: 0vh;
  }

  .box10 {
    height: 50vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .box11 {
    height: 70vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .box12 {
    height: 50vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
  }
  
  .box13 {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
  }

  .box14 {
    height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
    z-index: 2;
  }

  .box15 {
    height: 40vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
  }

  .box16 {
    height: 50vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
  }

  .box17 {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 9;
  }
}

@media (max-width: 550px) {
  .box5 {
    transform: rotate(90deg);
  }

  .box8 {
    height: 10vh;
    transform: rotate(90deg);
  }

  .box10 {
    height: 100vh;
  }

  .box12 {
    height: 80vh;
  }

  .box13 {
    transform: rotate(90deg);
  }


  .box15 {
    height: 30vh;
  }

  .box16 {
    height: 100vh;
  }
}



.video-background {
  position: relative;
  width: 100%;
  height: 110vh; /* Full screen height */
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover; /* Ensures the video covers the entire background */
  z-index: -1; /* Makes sure the video stays behind the content */
}
