/* body {
  overflow-x: hidden;
} */

.video-background {
  position: relative;
  width: 100%;
  height: 110vh; /* Full screen height */
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover; /* Ensures the video covers the entire background */
  z-index: -1; /* Makes sure the video stays behind the content */
}

.container {
  display: grid;
  width: 100vw;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 4;
}

.boxHeader {
  z-index: 2;
  position: absolute;
  top: 0;
  height: 50px;
  width: 98vw;
  /* background-color: antiquewhite; */
}

.Row1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 109vh;
}

.MobilePhone {
  display: flex;
  justify-content: center;
  /* background-color: orange; */
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: -8vh;
  margin-left: 8vw;
}

.HeroScripts {
  z-index: 2;
  display: flex;
  justify-content: center;
  /* background-color: lightblue; */
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: -8vh;
}

.Row2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 2;
}

.SearchImages {
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  /* background-color: pink; */
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
}

.SearchScripts {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
}

.ContributeImages {
  z-index: 3;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: white;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: 0vh;
}

.ContributeScripts {
  z-index: 3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: 0vh;
}

.Row4 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 4;
  grid-row-end: 4;
}

.BrandImages {
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  /* background-color: pink; */
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 4;
}

.BrandScripts {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 4;
}

.boxFooter {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 5;
}


@media (max-width: 1030px) {
  
  .video-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Full screen height */
    overflow: hidden;
  }
  
  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover; /* Ensures the video covers the entire background */
    z-index: -1; /* Makes sure the video stays behind the content */
  }

  .Row1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 99vh
  }
  
  .MobilePhone {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: -10vh;
    margin-left: 0;
  }
  
  .HeroScripts {
    display: flex;
    /* background-color: lightblue; */
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 0vh;
  }
  
  .Row2 {
    /* background-color: purple; */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .SearchImages {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .SearchScripts {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    z-index: 2;
  }

  .Row3 {
    height: 50vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .ContributeImages {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
    margin-top: -20vh;
  }

  .ContributeScripts {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-top: 0vh;
  }

  .Row4 {
    height: 70vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .Row5 {
    height: 90vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .Row6 {
    height: 60vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
  }
  
  .BrandImages {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
  }

  .BrandScripts {
    height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
    z-index: 2;
  }

  .Row7 {
    height: 55vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
  }

  .Row8 {
    height: 60vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
  }

  .boxFooter {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 9;
  }
}

@media (max-width: 550px) {
  .SearchImages {
    transform: rotate(90deg);
  }

  .ContributeImages {
    height: 10vh;
    transform: rotate(90deg);
  }

  .Row4 {
    height: 100vh;
  }

  .Row6 {
    height: 80vh;
  }

  .BrandImages {
    transform: rotate(90deg);
  }


  .Row7 {
    height: 30vh;
  }

  .Row8 {
    height: 110vh;
  }

  .boxFooter {
    height: 50vh;
  }
}




