:root {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-size-adjust: 0.53;
}

h2 {
  font-size: 1.7em;
}

p {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.5em;
    line-height: 1.1;
  }
  h2 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8em;
    line-height: 1.2;
    font-size-adjust: 0.6;
  }
}
